* {
  /* border: solid; */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(5, 5, 5);
  color: #fff;
}
.container {
  display: flex;
  width: 100vw;
}

.bg-image {
  background-size: cover;
  border: solid darkgray 1px;
  background-position: center;
  background-repeat: no-repeat;
}
.image-1 {
  background-image: url(dark-sider.jpg);
}
.image-2 {
  background-image: url(assassin.jpg);
}
.image-3 {
  background-image: url(dishonored.jpg);
}
.image-4 {
  background-image: url(watch-dog.jpg);
}
.image-5 {
  background-image: url(callofduty.jpg);
}
.slide {
  position: relative;
  height: 80vh;
  flex: 0.5;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
  cursor: poiter;
  transition: all 700ms ease-in;
}
.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-size: 24px;
}

@media (max-width: 480px) {
  .slide:nth-of-type(4),
  .slide:nth-of-type(5) {
    /* flex-wrap: wrap; */
    display: none;
  }
}
/* jacascript part */
.slide.active {
  flex: 5;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
